@tailwind base;
@tailwind components;
@tailwind utilities;

.negative {
  z-index: -1;
  width: 100%;
  height: 450px;
  opacity: 0.8;
}

.footer {
  background-color: #f5efc6;
}

.img {
  width: 14rem;
  padding: 20px;
}
@media screen and (max-width: 600px) {
  .img {
    width: 10rem;
    padding: 10px;
    height: 10rem;
  }
}